body{

}
.container{

}
.main-header{
}
.main-header-up{
    display: flex;
    justify-content: space-between;
}
.padding-size{

}
.main-header-img{
    border: 3px solid red;
    width: 50px;
    height: 50px;
    display: block;
}
.main-header-search-form{

}
.main-header-user-item{
    display: flex;
    align-items: center;
}
.main-header-search-field{
    width: 400px;
    height: 30px;
}
.main-header-bts-search{

}
.main-header-way-item{
    margin: 0 0 0 35%;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.menu{
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.menu-button {
    width: 150px;
    height: 100px;
    margin: 23px 0 0 0;
}
.main-pull{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.main-pull-navigation{
display: flex;
justify-content: space-evenly;
margin-bottom: 10px;
}
.main-pull-navigation-button{
 
}
.main-pull-condition{
    display: flex;
    justify-content: space-around;
}
.main-pull-add-button{
    width: 500px;
    height: 100px;
    margin: 100px;
    align-self: center;
}
.main-pull-end-button{
    display: flex;
    justify-content: space-between;
}
.main-pull-end-button-test{
    width: 150px;
    height: 50px;
}
.main-pull-end-button-next{
    width: 150px;
    height: 50px;
}